body {
    margin: 0;
    font-family: 'Bad Script', cursive;
    text-transform: uppercase;
    background-color: #fbfbff;
    color: #000505;
}

.header {
    background-color: #000505;
}

.logo-container {
    width: 60%;
    margin: 0 auto;
}

.logo {
    width: 100%;
    padding-top: 20px;
}

.hero {
    text-align: center;
    padding: 5px;
    background-color: #657ed4;
    color: #FEFCFD;
    margin-bottom: 25px;
    letter-spacing: 6px;
}

.banner {
    display: block;
    text-align: center;
}

#result {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    color: #ff331f;
    display: inline-block;
    padding-right: 20px;
}

#turn {
    font-size: 1.2rem;
    color: #3626a7;
    display: inline-block;
}

#squares {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 25px;
    font-size: 2rem;
}

.square {
    list-style: none;
    display: flex;
    width: 100px;
    height: 100px;
    line-height: 100px;
    justify-content: center;
    box-sizing: border-box;
    border: #657ed4 solid 6px;
}

#square1 {
    border-top: none;
    border-left: none;
}

#square2 {
    border-top: none;
}

#square3 {
    border-top: none;
    border-right: none;
}

#square4 {
    border-left: none;
}

#square6 {
    border-right: none;
}

#square7 {
    border-left: none;
    border-bottom: none;
}

#square8 {
    border-bottom: none;
}

#square9 {
    border-right: none;
    border-bottom: none;
}

.tally {
    background-color: #657ed4;
    color: #fbfbff;
}

#tally-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 0;
    font-size: 2rem;
    background-color: #000505;
    margin-bottom: 10px;
    border-bottom: solid 1px #fbfbff;
    letter-spacing: 4px;
}

table, th, td {
    border: 2px solid #3626a7;
    border-collapse: collapse;
}

th {
    background-color: #3626a7;
    color: #657ed4;
    font-family: 'Bad Script', cursive;
    font-size: 1rem;
}

td {
    background-color: #fbfbff;
    color: #3626a7;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
}

.tally-container {
    background-color: #000505;
    color: #fbfbff;
    width: 80%;
    margin: 0 auto;
}

.tally-table {
    padding: 5px;
    width: 100%;
    margin: 0 auto;
    background-color: #657ed4;
}

.tally-row {
    margin: auto;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #3626a7;
}

td {
    padding-left: 20px;
}

.button-container {
    background-color: #657ed4;
    padding-top: 20px;
    padding-bottom: 30px;
}

.clear-board {
    width: 280px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 auto;
    display: block;
    background-color: #ff331f;
    color: #fbfbff;
    word-spacing: 6px;
    letter-spacing: 2px;
    border: none;
    opacity: .8;
}

.clear-board:hover {
    opacity: 1;
}
