body {
    margin: 0;
    font-family: 'Bad Script', cursive;
    text-transform: uppercase;
    background-color: #FEFCFD;
    color: #000505;
}

.header {
    background-color: #BFCDE0;
}

.logo-container {
    width: 60%;
    margin: 0 auto;
}

.logo {
    width: 100%;
}

.hero {
    text-align: center;
    padding: 20px;
    background-color: #3B3355;
    color: #FEFCFD;
    margin-bottom: 40px;
    letter-spacing: 8px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    padding: 0;
}

.square {
    list-style: none;
    display: flex;
    width: 100px;
    height: 100px;
    line-height: 100px;
    justify-content: center;
    box-sizing: border-box;
    border: #BFCDE0 solid 2px;
}

#square1 {
    border-top: none;
    border-left: none;
}

#square2 {
    border-top: none;
}

#square3 {
    border-top: none;
    border-right: none;
}

#square4 {
    border-left: none;
}

#square6 {
    border-right: none;
}

#square7 {
    border-left: none;
    border-bottom: none;
}

#square8 {
    border-bottom: none;
}

#square9 {
    border-right: none;
    border-bottom: none;
}
